@page "/transacoes/create"

@using Microsoft.EntityFrameworkCore
@using TesteDaUmbler.Models
@using TesteDaUmbler.Data
@inject HttpClient HttpClient
@inject AppDbContext DbContext
@inject NavigationManager NavigationManager
@inject IHttpClientFactory ClientFactory

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h4>Transacao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Transacao" OnValidSubmit="AddTransacao" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="valor" class="form-label">Valor:</label> 
                <InputNumber id="valor" @bind-Value="Transacao.Valor" class="form-control" /> 
                <ValidationMessage For="() => Transacao.Valor" class="text-danger" /> 
            </div>    
            <div class="mb-3">
                <label for="cartaoId" class="form-label">Selecione o Cartão:</label>
                <InputSelect id="cartaoId" @bind-Value="Transacao.CartaoId" class="form-control">
                    @foreach (var cartao in cartoes)
                    {
                        <option value="@cartao.Id">@cartao.NumeroDoCartao - @cartao.NomeNoCartao</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => Transacao.CartaoId" class="text-danger" />
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/transacoes">Voltar pra lista</a>
</div>

@if (!string.IsNullOrEmpty(mensagemSucesso))
{
    <div class="alert alert-success">@mensagemSucesso</div>
}

@if (!string.IsNullOrEmpty(mensagemErro))
{
    <div class="alert alert-danger">@mensagemErro</div>
}

@code {

    [SupplyParameterFromForm]
    public Transacao Transacao { get; set; } = new();
    private List<Cartao> cartoes = new List<Cartao>();
    private string? mensagemErro;
    private string? mensagemSucesso;

    protected override async Task OnInitializedAsync()
    {
        // Carregar a lista de cartões cadastrados no banco
        cartoes = await DbContext.Cartoes.ToListAsync();
    }

    public async Task AddTransacao()
    {
        try
        {
            var CartaoSelecionado = await DbContext.Cartoes.FindAsync(Transacao.CartaoId);

            Transacao.Cartao = CartaoSelecionado!;

            var pagamentoRequest = new
            {
                Cartao = Transacao.Cartao,
                Transacao = Transacao
            };

            var httpClient = ClientFactory.CreateClient("MyAPI");

            var response = await HttpClient.PostAsJsonAsync("http://localhost:5035/api/payment", pagamentoRequest);

            if (response.IsSuccessStatusCode)
            {
                var result = await response.Content.ReadAsStringAsync();
                mensagemSucesso = $"Pagamento realizado com sucesso! Detalhes: {result}";

                Transacao.EstadoDaTransacao = result;

                DbContext.Transacao.Add(Transacao);
                await DbContext.SaveChangesAsync();
                NavigationManager.NavigateTo("/transacoes");
            }
            else
            {
                var errorContent = await response.Content.ReadAsStringAsync();
                mensagemErro = $"Erro ao realizar o pagamento: {errorContent}";
            }
        }
        catch (Exception ex)
        {
            mensagemErro = $"Ocorreu um erro: {ex.Message}";
        }
    }
}
